body {
    background-color: rgb(170, 193, 235);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header {
    background-image:url("../Images/Black-White-Puzzle.jpg");
}
#upper {
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
#log1 {
    width: 200px;
    border-radius: 50%;
    border: 2px solid;
}
#title {
    color: rgb(8, 6, 128);
    font-size: 42px;
    font-weight: bold;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 3px 3px 5px rgb(207, 54, 49);
    border: 3px solid aqua;
    border-radius: 2%;
    background-color: aqua;
}
#log2 {
    width: 200px;
    border-radius: 50%;
    border: 2px solid;
}
#low {
    background-color: rgb(223, 240, 74);
    display: flex;
    flex-direction: row;
    justify-content: right;
    text-indent: bold;
}
.bar {
    margin-left: 50px;
    margin-right: 50px;
    font-size: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#title2 {
    text-align: center;
    color: rgb(9, 4, 83);
    font-size: 28px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    
}

#sec1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 50px;
}

.FPI {
    width: 320px;
    border: 3px solid;
    border-radius: 50%;
    box-shadow: 10px 5px 5px, color(srgb red rgb(53, 68, 53) blue);
}

figcaption {
    text-align: center;
    font-size: large;
    font-weight: bold;
}

footer {
    color: blue;
}
#zer {
    
    text-align: right;
}