body {
    background-color: rgb(170, 193, 235);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}
header {
    background-image:url("Images/Black-White-Puzzle.jpg");
}
#upper {
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
#log1 {
    width: 200px;
    border-radius: 50%;
    border: 2px solid;
}
#title {
    color: rgb(8, 6, 128);
    font-size: 42px;
    font-weight: bold;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 3px 3px 5px rgb(207, 54, 49);
    border: 3px solid aqua;
    border-radius: 2%;
    background-color: aqua;
}
#log2 {
    width: 200px;
    border-radius: 50%;
    border: 2px solid;
}
#low {
    background-color: rgb(223, 240, 74);
    display: flex;
    flex-direction: row;
    justify-content: right;
    text-indent: bold;
}
.bar {
    margin-left: 50px;
    margin-right: 50px;
    font-size: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
a:hover{
    color: cyan;
    font-size: 32px;
    background-color: rgb(247, 98, 98);
}

#nea {
    width: auto;
    height: 50px;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    color: red;
    background-color: rgb(145, 171, 172);
    padding: 5px;
    animation-name: slideleft;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    
}
@keyframes slideleft {
    from {transform: translateX(100%);} to {transform: translateX(-100%);}
}

#reg {
    font-size: 1.5em;
    text-align: center;
    background-color: aquamarine;
}
#reg1 {
    display: flex;
    flex-direction: row;
    background-color: white;
    justify-content: space-evenly;
}
#rib {
    width: 400px;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    background-color: rgb(163, 190, 190);
    font-weight: bold;
}
#addr {
    background-color: rgb(114, 238, 238);
    display: flex;
    flex-direction: row;
    margin: 20px 20px 20px 20px;
    justify-content: space-evenly;
}
.address {
   float: inline-start; 
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-size: 2em;
   color: rgb(2, 2, 158);
   margin-top: 40px;
}
#Office {
    width: 450px;
}
footer {
    color: blue;
    padding: 30px;
}
#zer {
    
    text-align: right;
}